*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    overflow:hidden;

    background:#16110d;

    font-family:"Orbitron",sans-serif;

    color:#f6e6d3;
}

/* animated background */

.background{

    position:absolute;

    width:200%;
    height:200%;

    background:
        radial-gradient(circle at 20% 20%, #5a3922, transparent 28%),
        radial-gradient(circle at 75% 30%, #3a2418, transparent 35%),
        radial-gradient(circle at 60% 80%, #25160f, transparent 40%),
        linear-gradient(160deg,#120d09,#1a130f,#221712);
    filter:blur(70px);
    animation:moveBackground 35s linear infinite;

}

@keyframes moveBackground{

    from{

        transform:translate(-10%,-10%) rotate(0deg);

    }

    to{

        transform:translate(-20%,-15%) rotate(360deg);

    }

}

.clock-card{

    width:820px;

    padding:70px;

    border-radius:28px;

    background:rgba(34,23,18,.78);

    border:1px solid rgba(214,161,92,.18);

    backdrop-filter:blur(18px);

    box-shadow:
        0 25px 60px rgba(0,0,0,.65),
        inset 0 1px rgba(255,255,255,.05);

}

.day{

    color:#d89a4c;

    font-size:30px;

    letter-spacing:4px;

}

.date{

    color:#b99979;

    font-size:19px;

}

.clock{

    width:100%;

    min-height:120px;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:84px;

    color:#f3d4a3;

    font-weight:700;

    font-variant-numeric:tabular-nums;

    letter-spacing:5px;

}

.timezone{

    color:#8e7155;

    margin-top:50px;

    letter-spacing:3px;

}